* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
  width: 100%;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

.choice:active{
  opacity: 0.7;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 3rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 2rem;
  margin: 3rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: white;
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
}

#btn {
  margin-top: 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 2rem;
  background-color: purple;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .choices {
    margin-top: 15px;
    padding: 15px;
  }

  img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }

  #user-score,
  #comp-score {
    font-size: 1.7rem;
  }

  .choice {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .msg-container {
    margin-top: 2.5rem;
    padding: 5px;
  }

  .score-board{
    margin-top: 8px;
    font-size: 1.5rem;
  }

  #btn{
    font-size: 1.5rem;
    padding: 15px;
  }
}
